{{ define "main" }}

<h1>Ontwerp</h1>

<div class="posts-list">
{{ with .Site.GetPage "/ontwerp" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Advies</h1>

<p>
    Met meer dan 10 jaar professionele ervaring in de energiesector, een sterke affiniteit met nutsvoorzieningen en landschap, en een grondige aanpak van onderwerpen van ontwerp tot beheer, adviseer ik graag als onderdeel van een breder (project)team.<a href="advies/">(meer)</a>
</p>
<br/>

<h1>Tuin</h1>

<div class="posts-list">
{{ with .Site.GetPage "/tuin" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Laatste foto's</h1>

<div class="image-grid">
{{ with .Site.GetPage "/foto" }}
    {{ range first 3 (sort .Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

<h1>Over mij</h1>

<p>
    <img src="/images/ik-1/ik-1.webp" class="profile-subtle" alt="Victor">
    In every project, I aim to create landscapes that unite beauty, ecological sensitivity, and lasting practicality. My work begins with a careful understanding of place and the relationship between people and landscape, resulting in spaces that are both sustainable and attractive. <a href="about/">(more)</a>
</p>
<br/>

{{ end }}