{{ define "head" }}
    {{ partial "gallery-head.html" . }}
{{ end }}

{{ define "main" }}

<h1>Nieuws</h1>

<div class="posts-list">
{{ with .Site.GetPage "/nieuws" }}
    {{ range first 3 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Ontwerp</h1>

{{ with .Site.GetPage "/ontwerp" }}
    {{ partial "gallery.html" (dict "page" . "id" "ontwerp-gallery") }}
{{ end }}

<h1>Advies</h1>

<p>
    Met meer dan tien jaar professionele ervaring in de energiesector combineer ik een sterke affiniteit met nutsvoorzieningen en landschap met een integrale benadering van projecten, van ontwerp tot beheer. Als onderdeel van een multidisciplinair (project)team lever ik graag een bijdrage aan het realiseren van toekomstbestendige oplossingen. <a href="advies/">(meer)</a>
</p>
<br/>

<h1>Tuin</h1>

<p>
    Of je nu een bestaande tuin een nieuwe invulling wil geven of helemaal vanaf nul begint: ik maak ontwerpen op maat die aansluiten bij zowel het karakter van de plek als jouw levensstijl. <a href="tuin/">(meer)</a>
</p>
<br/>

<h1>Over mij</h1>

<p>
    <img src="/images/ik-1/ik-1.webp" class="profile-subtle" alt="Victor">
    Van Campen Landschap is een jong landschapsontwerpbureau dat gespecialiseerd is in nutsvoorzieningen. Ik bied een combinatie van analytische vaardigheden, affiniteit met nutsvoorzieningen en plezier in ontwerp. <a href="overmij/">(meer)</a>
</p>
<br/>

{{ end }}